.grid-container2{
    display: grid;
    float:inherit;
    column-gap: 10px;
    row-gap: 15px;
    margin-bottom: 10px;
}

.grid-item {
    border: 3px solid black;
    text-align: center;
    line-height: 20px;
    background-color: blueviolet;
    border-radius: 7%;
}

img{
    width: 220px;
    justify-items: stretch;
    margin: 3px;
    padding: 3px;
    border-radius: 7%;
    border-color: rgb(124, 55, 130);
    border-style:ridge;
    border: 2px;
}
 
a {
    text-justify:inherit;
    color: #f5cff6; 
}