.grid-container2{
    display: grid;
    float:inherit;
    column-gap: 10px;
    row-gap: 15px;
    margin-bottom: 10px;
}

.grid-item {
    border: 3px solid black;
    text-align: center;
    line-height: 20px;
    background-color: blueviolet;
    border-radius: 7%;
}

img{
    width: 250px;
    height: 300px;
    margin: 3px;
    padding: 3px;
    border-radius: 7%;
    border-color: rgb(124, 55, 130);
    border-style:ridge;
    border: 2px;
}
 
a {
    float: left;
    color: #f5cff6; 
}

.flex-item{
    align-self: center;
}

p {
    font-family: berhnard tango;
    height-font: 1.8rem;
}

-----------------------
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-color: #f5cff6;
  }
  
  
  
    
   

  
  
