<section class = "grid-container2">
    
    <div class= "c1">
        <button class="btn" type="button" routerLink = "/productos">
            <strong>VER LISTA DE PRECIOS DE LOS PRODUCTOS</strong>
        </button>
    </div>
    <picture class ="grid-item c2">
        <img src="../../assets/fotos/torta aniversario -pasteleria-.png">
    </picture>
    <picture class ="grid-item c3">
        <p class ="flex-item"><i>"... En los momentos más importantes de tu vida, Dulce-Delicia, te acompaña..."</i></p>
        <img src="../../assets/fotos/torta blanca de casamiento -pasteleria-.png">
    </picture>
    <picture class ="grid-item c4">
        <p class ="flex-item"><i>"... A pedido, uds. eligen tortas y tartas, y nosotros las preparamos ..."</i></p>
        <img src="../../assets/fotos/tortamoka-pasteleria-.png">
        <!--<p class ="flex-item"><i>"... A pedido, uds. eligen tortas y tartas, y nosotros las preparamos ..."</i></p>-->
    </picture>
    <picture class ="grid-item c5">
        <img src="../../assets/fotos/torta oreo -pasteleria-.png">
    </picture>
    <picture class ="grid-item c6">
        <img src="../../assets/fotos/facturas -panaderia-.png">
        <p class ="flex-item"><i>"... Variedad en facturas y tipos de panificados ..."</i></p>
    </picture>
    <picture class ="grid-item c7">
        <img src="../../assets/fotos/bollitos -panaderia-.png">
        <p class ="flex-item"><i>"... Rico pan casero para sus tardes de mates ..."</i></p>
    </picture>

</section>