<section class = "grid-container2">
    <br/>
    <br/>
    <a routerLink = "/productos">Ver lista de precios de los productos</a>
    <br/>
    <picture class ="grid-item c2">
        <img src="../../assets/fotos/torta aniversario -pasteleria-.png">
    </picture>
    <picture class ="grid-item c3">
        <p>Pastelería</p>
        <p>Tartas</p>
        <p>Panadería</p>
    </picture>
    <picture class ="grid-item c4">
        <img src="../../assets/fotos/torta aniversario -pasteleria-.png">
    </picture>
    <picture class ="grid-item c5">
        <img src="../../assets/fotos/torta aniversario -pasteleria-.png">
    </picture>
    <picture class ="grid-item c6">
        <img src="../../assets/fotos/torta aniversario -pasteleria-.png">
    </picture>
    <picture class ="grid-item c7">
        <ul>
            <li>tortillas</li>
            <li>bollitos</li>
            <li>facturas</li>
            <li>pan dulce</li>
            <li>panes de naranja</li>
        </ul>
    </picture>

</section>