div {
    background-color: #f8cf7d;
    justify-content:space-between;
    box-shadow: 0px 2px 5px #111111;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}

article{
    display:inline-block;

}

h4 p{
    margin-left: 5px;
}

#logoDD {
    width: 140 px;  
    margin:7px;
    margin-top:10px;
    margin-left: 5px;
}

#logoInst, #logoFace {
    width: 40px;
    float: right;
    margin-top:  14px;
    margin-left: 5px;
    
}

#button {
    width: 120px;
    float: right;
    margin-top:  14px;
    margin-left: 5px;
    margin-right: 8px;
}

