<div>
    <img src="../../assets/fotos/dulce-dulce.jpg" id="logoAP">

    <button type="button" class="btn btn-outline-light" id="button" (click)="onLogOut()" *ngIf ="isLogged">CERRAR SESION</button>
    <button type="button" class="btn btn-outline-light" id="button" (click)="login()" *ngIf ="!isLogged">INGRESO</button>
    <a href="https://www.facebook.com/groups/440062772780528/search/?q=rocio%20chanampa/"><img src="../../assets/redsociales/facebook.png" id="logoFace"></a>
    <a href="https://www.instagram.com/dulcedeliciarocio/"><img src="../../assets/redsociales/instagram.png" id="logoInst"></a>
    

    
    
</div>
