div {
    display: flex;
    background-color: #f5cff6;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px 2px 5px #111111;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}

article{
    display:flex;
    flex-direction:row;
    align-content: stretch;
    justify-content: center;
}

section {
    display:inline-block;
}

p {
    margin-left: 5px;
}

#logoDD {
    width: 140 px;  
    margin:7px;
    margin-top:10px;
    margin-left: 5px;
}

#logoInst, #logoFace {
    width: 40px;
    float: right;
    margin-top: 0px;
    margin-left: 5px;
    
}

#logoWApp {
    width: 37px;
    height: 37px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
    border-radius: 13%;

}

#button {
    width: 120px;
    float: right;
    margin-top:  10px;
    margin-left: 5px;
    margin-right: 8px;
}

