/* You can add global styles to this file, and also import other style files */
body{
    background-color: antiquewhite;
    font-family:Arial, Helvetica, sans-serif;
}
.grid-container {
    display:grid;
    width: 98%;
    margin: 1px;
    background-color:rgb(70, 81, 81);
    padding: 10px;
    border: 1px solid black;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    
}

.grid-item {
    border: 3px solid black;
    text-align: center;
    line-height: 20px;
    background-color: blueviolet;
    
}

.c0 {
    grid-column: 1/2;
    grid-row: 1;
}

.c1 {
    grid-column: 1/2;
    grid-row: 2;
    
}


.c2 {
    grid-column: 1/2;
    grid-row: 3;
    display:flex;
    flex-direction:row;
    align-content: stretch;
    justify-content: center;
    }

.c3 {
    grid-column: 2/3;
    grid-row: 3;
    display:flex;
    flex-direction:row;
    align-content: stretch;
    justify-content: center;
    
    }

.c4{
    grid-column: 3/4;
    grid-row: 3;
    display:flex;
    flex-direction:row;
    align-content: stretch;
    justify-content: center;
}


.c5 {
    grid-column: 1/2;
    grid-row: 4;
    display:flex;
    flex-direction:row;
    align-content: stretch;
    justify-content: center;
}
.c6  {
    grid-column: 2/3;
    grid-row: 4;
    display:flex;
    flex-direction:row;
    align-content: stretch;
    justify-content: center;
}

.c7 {
    grid-column: 3/4;
    grid-row: 4;
    display:flex;
    flex-direction:row;
    align-content: stretch;
    justify-content: center;
}

.c8 {
    grid-column: 1/2;
    grid-row: 5;
    display:flex;
    flex-direction:row;
    align-content: stretch;
    justify-content: center;
}
